<div id="certifications">
	<h2 class="section-title">
		Certs
	</h2>

	<div class="certs-list">
		<div class="cert">
			<img class='cert-logo' src="faa-part-107.png">
		</div>
		<div class="cert">
			<img class='cert-logo' src="security+.png">
		</div>
		<div class="cert">
			<img class='cert-logo' src="pentest+.png">
		</div>
	</div>
</div>