<div id="companies">
	<h2 class="section-title">
		Companies I've worked with
	</h2>

	<div class="companies-list">
		<div class="company">
			<a href="#">
				<img class='company-logo' src="foot-locker.png">
			</a>
		</div>
		<div class="company">
			<a href="#">
				<img class='company-logo'  src="the-fresh-market.png">
			</a>
		</div>
		<div class="company">
			<a href="#">
				<img class='company-logo'  src="corona.png">
			</a>
		</div>
	</div>
</div>