<div id="contact">
	<h2 class="section-title">
		Contact
	</h2>

	<ul class="contact-list">
		<li><span class="list-title">Personal Email:</span> <a href="mailto:nick@jantz.me">nick@jantz.me</a></li>
		<li><span class="list-title">Phone:</span> <a href="tel:269-369-0340">269.369.0340</a></li>
		<li class="gutter-top"><a href="/Nick-Jantz-Resume.pdf" target="_blank" class="download-resume">Download Resume</a><img src="/link.png" class="link-icon"></li>
	</ul>
</div>