<% var d = new Date();
var n = d.getFullYear(); %>

<div id="footer">
	<!-- <div id="login-link">
		<a class="link-wrapper" href="/login">
			<span class="link-text">
				Admin Login
			</span>
		</a>
	</div> -->

	&copy; <%= n %> Nick Jantz
</div>

</body>
</html>