<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nick Jantz <%= activePage %></title>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<div id="header">
		<p class="ascii-art">
  ________   ___  ________  ___  __
 |\   ___  \|\  \|\   ____\|\  \|\  \
 \ \  \\ \  \ \  \ \  \___|\ \  \/  /|_
  \ \  \\ \  \ \  \ \  \    \ \   ___  \
   \ \  \\ \  \ \  \ \  \____\ \  \\ \  \
    \ \__\\ \__\ \__\ \_______\ \__\\ \__\
     \|__| \|__|\|__|\|_______|\|__| \|__|
     ___  ________  ________   _________  ________
    |\  \|\   __  \|\   ___  \|\___   ___|\_____  \
    \ \  \ \  \|\  \ \  \\ \  \|___ \  \_|\|___/  /|
  __ \ \  \ \   __  \ \  \\ \  \   \ \  \     /  / /
 |\  \\_\  \ \  \ \  \ \  \\ \  \   \ \  \   /  /_/__
 \ \________\ \__\ \__\ \__\\ \__\   \ \__\ |\________\
  \|________|\|__|\|__|\|__| \|__|    \|__|  \|_______|
		</p>
	</div>

<%- include('menu') %>
