<div id="menu">
	<a class="link-wrapper" href="/">
		<span class="link-text">
			Home
		</span>
	</a>
	<a class="link-wrapper" href="/resume">
		<span class="link-text">
			Resume
		</span>
	</a>
	<a class="link-wrapper" href="/contact">
		<span class="link-text">
			Contact
		</span>
	</a>
</div>