<div id="menu">

	<% !!menu.length && menu.forEach(item => { %>
		<% if (activePage !== item.name.toLowerCase()) {%>
		<a class="link-wrapper" href="<%= item.link %>">
			<span class="link-text">
				<%= item.name %>
			</span>
		</a>
		<% } else { %>
		<div class="link-wrapper active">
			<span class="link-text">
				<%= item.name %>
			</span>
		</div>
	<% }}) %>

</div>