<div id="projects">
	<h2 class="section-title">
		Projects
	</h2>

	<ul class="Projects-list">
		<li class="project">
			<span class="list-title">NHL Data Dashboard</span>
		</li>
		<li class="project">
			<span class="list-title">Gamepad Tester</span>
		</li>
		<li class="project">
			<span class="list-title">Moving Helper</span>
		</li>
	</ul>
</div>