<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nick Jantz</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div id="header">
        <p class="ascii-art">
________  ________  ________  ________
|\   __  \|\   __  \|\   __  \|\   ____\
\ \  \|\  \ \  \|\  \ \  \|\  \ \  \___|_
 \ \  \\\  \ \  \\\  \ \   ____\ \_____  \
  \ \  \\\  \ \  \\\  \ \  \___|\|____|\  \
   \ \_______\ \_______\ \__\     ____\_\  \
    \|_______|\|_______|\|__|    |\_________\
                                 \|_________|

      ___   ___  _______   ___   ___
     |\  \ |\  \|\  ___  \|\  \ |\  \
     \ \  \\_\  \ \  \|\  \ \  \\_\  \
      \ \______  \ \  \\\  \ \______  \
       \|_____|\  \ \  \\\  \|_____|\  \
              \ \__\ \_______\     \ \__\
               \|__|\|_______|      \|__|

</p>
        <p class="normal-header-text">
            Can't find that page!
        </p>
    </div>

<%- include('partials/footer') %>
