<%- include('partials/header') %>

	<div id="content">
		<p>
			I am a full-stack web developer with a focus on end to end dev ops integration and web application security. I specialize in optimizing codebases to have a robust architecture, simplistic scalability with high performance availability and comprehensive security without sacrificing user experiences.
		</p>
		<p>
			In my current position at <a href="https://www.footlocker.com/" class="in-text-link">Foot Locker</a><img src="/external-link.svg" class="link-icon"> I work with Product Owners and Project Managers as part of the international team to migrate sites to
		</p>
	</div>

	<%- include('partials/contact') %>

<%- include('partials/footer') %>
