body {
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.ascii-art {
	font-family: monospace;
	white-space: pre;
}

#menu {
	width: 50%;
	margin: 0 auto 2rem;
	display: flex;
	justify-content: space-evenly;
	text-transform: capitalize;
}

#menu,
#content,
#footer,
#contact,
#projects,
#companies {
	font-family: sans-serif;
}

.normal-header-text {
	width: 100%;
	text-align: center;
}

.link-wrapper {
	flex-grow: 1;
	text-align: center;
	padding: 1rem;
}

.link-text {
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.link-text:after {
	content: '';
	width: 100%;
	background: black;
	height: 0.25rem;
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	transition-duration: 350ms;
	transform: scaleX(0);
}

a.link-wrapper:hover .link-text::after {
	transform: scaleX(1);
}

.active {
	font-weight: bold;
}

#content {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5rem;
	text-align: justify;
	flex-grow: 1;
}

a {
	color: black;
	text-decoration: none;
}

#footer {
	width: 50%;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

#login-link {
	width: 100%;
	margin-bottom: 1rem;
}

#contact,
#projects,
#companies {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5rem;
	flex-grow: 1;
	margin-top: 1rem;
}

.section-title {
	margin-bottom: 0;
	border-top: 2px solid black;
	border-bottom: 1px solid gray;
	padding: .25rem 0;
}

.contact-list {
	list-style: none;
	padding: 0;
}

.list-title {
	font-weight: bold;
}

.in-text-link {
	border-bottom: 4px solid black;
	font-weight: bold;
}

.download-resume {
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid black;
}

.link-icon {
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	margin-left: 5px;
}

.gutter-top {
	margin-top: 1rem;
}

.project {
	list-style-type: none;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 1em;
	margin: 1% 2.5%;
	width: 40%;
	flex: 0 0 auto;
	min-height: 150px;
}

.Projects-list {
	margin: 1em 0;
	padding: 0;
	border-radius: 5px;
	display: flex;
	justify-content: start;
	overflow: scroll;
	position: relative;
	background:
		linear-gradient(to right, white, rgba(0, 0, 0, 0)),
		linear-gradient(to right, rgba(0, 0, 0, 0), white 80%) 0 100%,
		linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 20%),
		linear-gradient(to left,rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 20%);
	background-attachment: local, local, scroll, scroll;
}

.Projects-list::-webkit-scrollbar {
	display: none;
}

img.company-logo {
	max-width: 100%;
	filter: grayscale(1);
	transition-duration: 350ms;;
}

.company-logo:hover {
	filter: none;
}

.companies-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 1em;
}

.company {
	max-width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	.ascii-art {
		font-size: .875rem;
	}

	#content,
	#projects,
	#companies {
		width: 85%;
	}

	#contact {
		width: 95%;
	}
}