body {
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.ascii-art {
	font-family: monospace;
	white-space: pre;
}

#menu {
	width:50%;
	margin: 0 auto 2rem;
	display: flex;
	justify-content: space-evenly;
	text-transform: capitalize;
}

#menu,
#content,
#footer,
#contact,
#projects {
	font-family: sans-serif;
}

.normal-header-text {
	width: 100%;
	text-align: center;
}

.link-wrapper {
	flex-grow: 1;
	text-align: center;
	padding: 1rem;
}

.link-text {
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.link-text:after {
	content: '';
	width: 100%;
	background: black;
	height: 0.25rem;
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	transition-duration: 350ms;
	transform: scaleX(0);
}

a.link-wrapper:hover .link-text::after {
	transform: scaleX(1);
}

.active {
	font-weight: bold;
}

#content {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5rem;
	text-align: justify;
	flex-grow: 1;
}

a {
	color: black;
	text-decoration: none;
}

#footer {
	width: 50%;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

#login-link {
	width: 100%;
	margin-bottom: 1rem;
}

#contact,
#projects {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5rem;
	flex-grow: 1;
	margin-top: 1rem;
}

.section-title {
	margin-bottom: 0;
	border-top: 2px solid black;
	border-bottom: 1px solid gray;
	padding: .25rem 0;
}

.contact-list {
	list-style: none;
	padding: 0;
}

.list-title {
	font-weight: bold;
}

.in-text-link {
	border-bottom: 4px solid black;
	font-weight: bold;
}

.download-resume {
	text-transform: uppercase;
	font-weight: bold;
	border-bottom:3px solid black;
}

.link-icon {
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	margin-left: 5px;
}

.gutter-top {
	margin-top: 1rem;
}

li.project {
    list-style-type: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em;
    margin: 1% 2.5%;
    width: 40%;
}

ul.Projects-list {
    margin: 1em 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

@media only screen and (max-width: 768px) {
	.ascii-art {
		font-size: .875rem;
	}

	#content {
		width: 85%;
	}

	#contact {
		width: 95%;
	}
}